{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">

<div>
  <h2>CMS-системы</h2>
  <p>
    Эти же системы зачастую называют «движками» для сайтов. На сегодняшний день любая CMS-система позволяет управлять всем содержимым сайта с помощью простого и наглядного интерфейса. Вполне естественно, что выбор CMS-системы зависит от цели создания конкретного сайта. Каждый движок для сайта имеет свои особенности, преимущества и недостатки. Кроме того, стоит учитывать, что все CMS-системы делятся на две большие группы: бесплатные и платные движки.
  </p>

  <h3>Топ бесплатных CMS-систем</h3>
  <ul>
    <li>
      <strong>WordPress</strong> – отлично подходит для создания блогов, сайтов-визиток, корпоративных сайтов. Кстати, сайт, который вы сейчас читаете, работает на базе именно этой CMS. И мы уже опубликовали руководство, в котором рассказывается о том, как создать сайт на WordPress.
    </li>
    <li>
      <strong>Joomla</strong> – еще одна многофункциональная CMS-система, которая позволяет создать как простой сайт-визитку или корпоративный сайт, так и полноценный интернет-магазин. Обязательно прочитайте наше руководство, посвященное тому, как создать сайт на Joomla.
    </li>
    <li>
      <strong>InstantCms</strong> – в первую очередь, этот движок предназначен для создания социальных сетей, городских порталов, а также сайтов знакомств и онлайн-клубов;
    </li>
    <li>
      <strong>Drupal</strong> — ещё одна популярная CMS-система, которая отлично подходит для создания корпоративных сайтов, сайтов-визиток, а также сайтов-портфолио, социальных сетей и интернет-магазинов;
    </li>
    <li>
      <strong>OpenCart</strong> – данная CMS-система предназначена, прежде всего, для создания интернет-магазинов. Вместе с тем стоит учитывать, что она проста в использовании, но при этом достаточно сложна в плане разработки. Как показывает практика, для разработки полноценного интернет-магазина на основе этого движка требуется привлечение опытного PHP-программиста.
    </li>
    <li>
      <strong>phpBB</strong> – отличная CMS-система, предназначенная для создания форумов.
    </li>
  </ul>

  <h3>Топ платных CMS-систем</h3>
  <ul>
    <li>
      <strong>1С-Битрикс</strong> - мощная и многофункциональная система управления сайтами. Она позволяет создавать и поддерживать
интернет-ресурсы практически любого типа. В качестве ключевых особенностей стоит выделить простоту управления созданным
сайтом, высокую производительность, интеграцию с 1С (это очень важный момент для российских интернет-магазинов),
а также обширные возможности мобильного администрирования.
    </li>
      <li>
          <strong>UMI.CMS</strong> -еще один достойный представитель платных CMS-систем. Девиз его разработчиков - «удобство для людей».
Специально для этого движка было создано 500 уникальных шаблонов, которые подойдут практически для любого сайта
и при этом предоставят возможность доработки под каждый конкретный проект. А 2500 разработчиков будут рады помочь вам в
создании сайта на основе UMI.CMS и его «затачивании» именно под ваши цели.

osCommerce - платная CMS-система, предназначенная для создания современных интернет-магазинов и обладающая богатейшими
функциональными возможностями.
      </li>
  </ul>
</div>
{% endblock %}