{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">
    <main>
        <h1>Конструкторы сайтов</h1>
        <p>
            Мы убеждены, что, если у вас ограничено время или желание разбираться, то оптимальным способом будет создание сайта в конструкторе.
            Мы выбрали самые эффективные и простые в использовании, что для создания сайта не потребуется каких-либо знаний в области верстки, программирования и веб-дизайна.
        </p>
        <h2>Наиболее популярные конструкторы сайтов</h2>
        <ul>
            <li>
                <h3>uKit</h3>
                <p>
                    Лучший конструктор на российском рынке для создания простых и эффективных сайтов своими руками, целится на бизнес-аудиторию: визитки, лендинги, корпоративные сайты с новостным разделом, портфолио и т.п.
                    Здесь легко начать с готовых шаблонов, очень простой и удобный для новичков визуальный редактор, масса действий по продвижению, рекламе, подключению доменов, добавлению аналитики – автоматизирована.
                    Больше деталей и цены подписок – в нашем подробном обзоре uKit + мануал по работе с этим конструктором.
                </p>
            </li>
            <li>
                <h3>Nethouse</h3>
                <p>
                    Конструктор, который отлично подойдет для создания сайтов-визиток, сайтов-портфолио, интернет-магазинов. Он достаточно прост в первичном освоении и дальнейшем использовании.
                    Мы подготовили его подробный обзор, а также пошаговое руководство.
                </p>
            </li>
            <li>
                <h3>Wix</h3>
                <p>
                    Крупнейший игрок с мировым охватом, хорошо локализован для российской аудитории, имеет много профильных инструментов.
Правда, с недавних пор наблюдаются проблемы с приёмом оплаты на сайтах интернет-магазинов,
она недоступна, и сложно оплатить подписки самого сервиса с карт российских банков.
У нас есть отдельный подробный обзор этого конструктора, а также пошаговое руководство по работе с ним. Чем заменить Wix.
                </p>
            </li>
        </ul>
    </main>
{% endblock %}