{% extends "base.html" %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href='../static/css/html5.css'>
{% endblock %}
{% block content %}

    <div>
        <li>
        Шаг первый – регистрация в конструкторе и вход в аккаунт.
        Проходим простую процедуру регистрации, заполнив данные формы либо просто авторизовавшись в одной из популярных соц.сетей (подойдут также аккаунты поисковиков Яндекс и Google).
        Определитесь с нужным вам функционалом и выберите подходящую подписку. Стандартные цены uKit – от 2,5 $/месяц. Это с учетом скидок за оплату наперед, от года и более. 14 дней тестирования – бесплатно.
        </li>
        <li>
        Шаг второй – выбираем шаблон дизайна для будущего сайта.
        Конструктор предоставляет в распоряжение пользователей коллекцию из более 350 уникальных бесплатных шаблонов! И это не просто «рыбы», текст и описания в блоках осмысленные, полностью соответствуют тематике.
        Для сайтов, которые не нуждаются в уникальном контенте, например, при создании лендингов и визиток, останется поменять только контакты.
        Ваша задача будет выбрать наиболее подходящий по функционалу и визуальному оформлению шаблон, после чего можно приступать к его настройке и наполнению.
        </li>
        <li>
        Шаг третий – оформляем и персонализируем сайт.
        В первую очередь необходимо дать создаваемому ресурсу уникальное имя (изначально - это домен третьего уровня, фактически это техническое имя сайта, позже его лучше заменить на свой домен второго уровня, красивый, понятный и запоминающийся).
        Стоит отметить, что в случае с ru/рф-зонами, домен даже не придётся настраивать, нужные ресурсные записи внесутся автоматически. Только регистрировать домен необходимо через админ-панель сервиса.
        </li>
        <li>
        Шаг четвертый – финальные штрихи и запуск.
        Просмотрите мобильную версию, убедитесь, что вас все устраивает.
        Проверьте ранее введенные контактные данные, попробуйте работу форм и кнопок в деле.
        Обязательно сделайте «Предпросмотр» перед запуском сайта. Определитесь с тем,какие блоки показывать в десктопной версии
        сайта, а какие – в версии для планшетов или для смартфонов.И наконец, нажмите кнопку «Опубликовать», чтобы созданный
        вами сайт стал частью всемирной паутины и был доступен всем пользователям.
        Простой пример создания сайта
        </li>
    </div>
{% endblock %}