{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">

<div>
   <h3>Java</h3>
<p>
   Сложно сосчитать количество статей на Хабре, которые имеют отношение к этому языку.
Это один из самых популярных языков программирования, который используется более 20 лет.
Универсальным он является благодаря виртуальной машине Java (Java Virtual Machine, JVM).
Она позволяет коду на Java одинаково работать на всех совместимых платформах.
JVM — своеобразная прослойка, в которой Java-программа преобразуется в код, который может выполняться на любой машине.
Несмотря на то, что Java чрезвычайно популярна среди разработчиков ПО, она сложнее для новичка, чем, скажем, Python.
Тем не менее, у Java огромное сообщество, которое даст ответ практически на любой вопрос новичка или профессионала.
</p>
<img src="..\static\img\JAVA_picture.jpg" alt="">
<h3>Что вы можете делать на Java</h3>
<ul>
<li>Бэкенд-технологии Java могут использоваться для решения большого количества задач, включая:</li>
<li>Разработка мобильных приложений под Android.</li>
<li>Разработка сайтов.</li>
<li>Работа с базами данных.</li>
<li>Обработка изображений.</li>
<li>Разработка настольных приложений.</li>
<li>Работа с сетью.</li>
</ul>
<h3>
Компании, которые используют Java
</h3>
<ul>
<li>Airbnb</li>
<li>Uber</li>
<li>Pinterest</li>
<li>LinkedIn</li>
<li>Groupon</li>
<li>eBay</li>
<li>Evernote</li>
<li>FitBit</li>
<li>Hubspot</li>
</ul>
<h3>
А сколько получает Java-разработчик?
</h3>
<p>
На момент апреля 2020 года средняя заработная плата разработчика в США составляла $79137.
Разброс достаточно большой — от $57k to $117k.</p>
</div>
{% endblock %}