{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center">PHP</h1>
            <p>PHP используется на около 78.2% всех веб-сайтов. Этот язык программирования впервые был представлен в 1995 году, когда для создания динамических сайтов было немного возможностей. PHP является динамически типизированным языком программирования, что позволяет находить несколько решений для одной проблемы. Однако это также означает, что один и тот же код может вести себя по-разному в зависимости от конкретной ситуации, что делает программы на PHP сложно масштабируемыми и в некоторых случаях медленными.</p>
            <h2>Почему PHP — отличный язык для начинающих?</h2>
            <ul>
                <li>Он допускает ошибки. Программа, в которой есть проблемы в коде, будет выполняться до тех пор, пока не достигнет участка с ошибкой.</li>
                <li>У языка очень большое сообщество, и для новичков доступно большое количество обучающих материалов.</li>
                <li>Язык постоянно обновляется, так что убедитесь, что изучаете именно последнюю версию.</li>
                <li>Установить PHP гораздо проще, чем, скажем, Ruby on Rails. Вы можете загрузить MAMP для MAC или WAMP для Windows и через 5 минут все будет готово к работе.</li>
            </ul>
            <h2>Что можно делать на PHP?</h2>
            <ul>
                <li>Собирать данные из форм.</li>
                <li>Генерировать динамические страницы.</li>
                <li>Отправлять и получать куки.</li>
                <li>Писать скрипты.</li>
                <li>Выполнять сценарии на стороне сервера.</li>
                <li>Писать десктопные приложения.</li>
            </ul>
            <h2>Компании, которые используют PHP</h2>
            <p>Вот список компаний и некоторые самые известные:</p>
            <ul>
                <li>Facebook</li>
                <li>Lyft</li>
                <li>Mint</li>
                <li>Hootsuite</li>
                <li>Viber</li>
                <li>Buffer</li>
                <li>DocuSign</li>
            </ul>
            <h2>Сколько зарабатывает PHP разработчик</h2>
            <p>Весной 2020 года средняя зарплата PHP-программиста в США составляла $82007 в год. Разброс — от $55k до $100k.</p>
        </div>
    </div>
    </div>
{% endblock %}