{% extends "base.html" %}

{% block content %}
    <meta charset="UTF-8">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Python</div>
                <div class="card-body">
                    <p>За последние несколько лет он стал чрезвычайно популярным языком программирования. Язык универсален и используется как для веб-разработки, так и для создания настольных приложений. В интернете есть огромное количество различной информации об этом языке, так что он неплохо подходит для начинающих. Более того, синтаксис языка простой и понятный, по сравнению с другими бэкенд-языками. Те, кто программирует на Питоне, говорит о коде, как об «элегантном», «читаемом» и «красивом».</p>
                    <br>
                    <h2>Что можно делать на Python</h2>
                    <ul>
                        <li>Написание кроссплатформенных shell-скриптов.</li>
                        <li>Быстрая автоматизация.</li>
                        <li>Веб-разработка.</li>
                    </ul>
                    <br>
                    <h2>Какие компании используют Python</h2>
                    <p>Полный список и самые известные компании:</p>
                    <ul>
                        <li>Uber</li>
                        <li>Pinterest</li>
                        <li>Mozilla</li>
                        <li>Spotify</li>
                        <li>Quora</li>
                        <li>Pandora</li>
                        <li>Netflix</li>
                        <li>Asana</li>
                    </ul>
                    <br>
                    <h2>Средняя заработная плата разработчиков</h2>
                    <p>Весной 2020 года средняя зарплата в США составляла $76526 в год. Разброс — от $58k до $107k.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}